.animated {
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 2s;
	-webkit-transition: all 2s linear;
	-webkit-ANIMATION-timing-function: linear;
}

.animated-fast {
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: .3s;
	-webkit-transition: all .3s linear;
	-webkit-ANIMATION-timing-function: linear;
}

.infinite {
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

/* Animation list */
@-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to   {-webkit-transform: rotate(359deg);}
}

.rotate {
	-webkit-animation-name: rotate;
	-moz-animation-name: rotate;
	-o-animation-name: rotate;
	animation-name: rotate;
}

.partial-append {
}

/* Apply to all the partials */
body > div[hash] {
	-webkit-transition-property: opacity, top, background;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease-in;
}

.slide {
	-webkit-transition-property: top, left, right, bottom;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease-in;
}


/* ----------------- custom animations --------------------*/
@-webkit-keyframes rotate-with-delay {
	0% {-webkit-transform: rotate(0deg);}
	45% {-webkit-transform: rotate(0deg);}
	55%   {-webkit-transform: rotate(359deg);}
	100%   {-webkit-transform: rotate(359deg);}
}

.animated-rotate-with-delay {
	-webkit-animation: rotate-with-delay 12s ease-in-out infinite;
	animation-iteration-count: infinite;
}

.slidetouch-nontouch-prev,
.slidetouch-nontouch-next {
	border-radius: 12px;
	opacity: .2;
	-webkit-transition-property: margin-left, margin-right, opacity;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease-in-out;
}

.slidetouch-nontouch-prev {
	margin-left: -30px;
}

.slidetouch-nontouch-prev:hover {
	background-color: white;
	margin-left: 0;
	opacity: 1;
}

.slidetouch-nontouch-next {
	margin-right: -30px;
}

.slidetouch-nontouch-next:hover {
	background-color: white;
	margin-right: 0;
	opacity: 1;
}