body > div[hash='setting'] {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body > div[hash='setting'].append {
	display: block;
	opacity: 0;
}

body > div[hash='setting'].active {
	opacity: 1;
	overflow: auto;
}

body > div[hash='setting'] .login,
body > div[hash='setting'] .wait {
	display: table;
	height: 100%;
	width: 100%;
}

body > div[hash='setting'] .login > div,
body > div[hash='setting'] .wait > div {
	display: table-cell;
	height: 100%;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

body > div[hash='setting'] .login form {
	text-align:center !important;
}

body > div[hash='setting'] .login input {
	margin: .5em auto;
}

body > div[hash='setting'] .login input[type='text'],
body > div[hash='setting'] .login input[type='password'] {
	border: 2px solid #CCC;
	border-radius: .5em;
	padding: .5em;
}

body > div[hash='setting'] .login input[type='text']:focus,
body > div[hash='setting'] .login input[type='password']:focus {
	border-color: #999;
	background-color: #FAEBD2;
	outline: none;
}

body > div[hash='setting'] .login input[type='submit'],
body > div[hash='setting'] .login input[type='button'],
body > div[hash='setting'] .profile input[type='submit'] {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#333;
	background-color:#FA2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	height:32px;
	padding:4px 16px;
	text-shadow:#FE6 0 1px 0
}

body > div[hash='setting'] .login input[type='button'] {
	background-color: #A2F2A9;
}

body > div[hash='setting'] .profile > div {
	/*background-color: #F7F3E1;*/
	margin: 0;
	padding: 1em;
	border-radius: .5em;
	border: 1px solid #DDD;
}

body > div[hash='setting'] .profile > div > * {
	overflow: auto;
	display: block;
	text-align: center;
	padding-bottom: 1em;
}

body > div[hash='setting'] .profile > div > div > div {
	float: left;
	font-size: small;
	text-align: left;
	padding: 2px;
}

body > div[hash='setting'] .profile #avatar {
	width: 96px;
	height: 96px;
}

body > div[hash='setting'] .tel {
	background: transparent url('../image/call_small.png') left center no-repeat;
	padding-left: 20px; 
}

body > div[hash='setting'] .email {
	background: transparent url('../image/email_small.png') left center no-repeat;
	padding-left: 20px; 
}

body > div[hash='setting'] details summary::-webkit-details-marker{
	display: none;
}
body > div[hash='setting'] .accordion {
	padding: 8px;

}

body > div[hash='setting'] details {
	margin-bottom: 6px;
}

body > div[hash='setting'] summary {
	border: 1px solid rgb(221, 221, 221);
	border-radius: .5em;
	padding-left: 50px;
	margin-bottom: 3px;
}

body > div[hash='setting'] summary h2 {
	color: #555;
	font-size: large;
}

body > div[hash='setting'] .profile summary {
	background: white url('../image/profile.png') 10px center no-repeat;
}

body > div[hash='setting'] .friends summary {
	background: white url('../image/friends.png') 10px center no-repeat;
}

body > div[hash='setting'] .friends > div {
	display: inline;
	padding: 5px;
	text-align: center;
}

body > div[hash='setting'] .friends > div > div {
	display: inline-block;
	text-align: center;
	border: 1px solid rgb(221, 221, 221);
	border-radius: .5em;
}

/*


body > div[hash='setting'] form {
	display: block;
	text-align: center;
}



body > div[hash='setting'] > div > * {
	margin: auto;
}

body > div[hash='setting'] p {
	font-size: small;
}





body > div[hash='setting'] form[name='logout'] input[type='submit'] {
	background-color: #D47293;
}



*/
