body {
	margin: 0;
	padding: 0;
}

.slidetouch {
	overflow: hidden;
	position: absolute;
	height: 100%;
	width: 100%;
}

.slidetouch-wrap {
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
}

.slidetouch-end-prev, .slidetouch-end-next {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: none;
	opacity: 0;
	background-size: 100% 100%;

	-webkit-transform: translate3d(0,0,0);
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: ease-in;
}

.slidetouch-end-prev {
	background-image: url('../image/slidetouch-end-prev.png');
}

.slidetouch-end-next {
	background-image: url('../image/slidetouch-end-next.png');
}

.slidetouch-wrap > div {
	display: table;
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;

	-webkit-transition-property: left, right;
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: ease-in;
}

.slidetouch-wrap > div > div {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

@media screen and (orientation:portrait) {
	.slidetouch-wrap > div img {
		height: auto;
		width: 100%;
		margin: auto;
	}
}

@media screen and (orientation:landscape) {
	.slidetouch-wrap > div img {
		height: 100%;
		width: auto;
		margin: auto;
	}
}

.slidetouch-nontouch-prev {
	position: absolute;
	margin-top: -50%;
	left: .3em;
	background: transparent url('../image/slidetouch-prev.png') no-repeat center center;
	width: 64px;
	height: 64px;
	cursor: pointer;
}

.slidetouch-nontouch-next {
	position: absolute;
	margin-top: -50%;
	right: .3em;
	background: transparent url('../image/slidetouch-next.png') no-repeat center center;
	width: 64px;
	height: 64px;
	cursor: pointer;
}

.slidetouch-touch-prev,
.slidetouch-touch-next {
	display: table;
	position: absolute;
	top: 0;
	height: 100%;
	cursor: pointer;
	opacity: .5;
	background-color: rgba(212, 240, 211, 0);

	-webkit-transition-property: opacity;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease-in;
}

.slidetouch-touch-prev {
	left: .3em;
}
.slidetouch-touch-next {
	right: .3em;
}

.slidetouch-touch-prev > div,
.slidetouch-touch-next > div {
	display: table-cell;
	vertical-align: middle;
}

.slidetouch-touch-prev > div img,
.slidetouch-touch-next > div img {
	padding: .2em;
	width: 24px;
	height: auto;
}

.slidetouch-touch-prev img:hover, 
.slidetouch-touch-next img:hover, 
.slidetouch-nontouch-prev img:hover, 
.slidetouch-nontouch-next img:hover {
	opacity: 1;
	background-color: rgb(212, 240, 211);
	border-radius: 1em;
}

.slidetouch .error {
	background: transparent url('../image/slidetouch-error.png') no-repeat center center;
	width: 48px;
	height: 48px;
	margin: auto;
}

.slidetouch .loading {
	position: absolute;
	top: 50%;
	left: 50%;
	background: transparent url('../image/slidetouch-loading.png') no-repeat center center;
	width: 96px;
	height: 96px;
	margin-top: -48px;
	margin-left: -48px;

	-webkit-transform: translate3d(0,0,0);
	-webkit-animation: rotate 2s infinite linear;
}
