h1 {
	font-size: 140%;
}

body > div[hash='details'] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	display: none;
}

body > div[hash='details'].active {
	display: block;
	overflow: auto;
}




body > div[hash='stage'] {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
}

body > div[hash='stage'].append {
	display: block;
	opacity: 0;
}

body > div[hash='stage'].active {
	display: block;
	opacity: 1;
}




body > div[hash='login'] {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body > div[hash='login'].append {
	display: table;
	opacity: 0;
	overflow: hidden;
}

body > div[hash='login'].active {
	opacity: 1;
	overflow: auto;
}



body > div[hash='search'] {
	display: none;
	position: absolute;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body > div[hash='search'].append {
	display: block;
	background: rgba(0, 0, 0, 0);
}

body > div[hash='search'].active {
	background: rgba(0, 0, 0, .7);
}




body > div[hash='extra'] {
	display: none;
	position: absolute;	
	top: 0;
	left: 0;
	width: auto;
	min-width: 100%;
	height: 100%;
	overflow: auto;
}

body > div[hash='extra'].append {
	display: block;
	background: rgba(0, 0, 0, 0);
}

body > div[hash='extra'].active {
	background: rgba(0, 0, 0, .35);
}
