<style scoped>

body > div[hash='details'] #title {
	background-color: #F2F2F2;
	border-radius: .3em;
	padding: .5em;
	margin: .5em 2em .5em 2em;
	text-align: center;
}

body > div[hash='details'] #description {
	padding: .5em;
}

body > div[hash='details'] #images img {
	width: 90%;
	padding: 5%;
	height: auto;
	min-height: 48px; /* loading do not overlap */
}

body > div[hash='details'] #images > div {
	position: relative;
}

body > div[hash='details'] #images div.reload {
	position: absolute;
	background: transparent url("image/reload_black.png") center center no-repeat;
	top: 50%;
	left: 50%;
	width: 64px;
	height: 64px;
	margin-top: -25px;
	margin-left: -25px;

	-webkit-transform: translate3d(0,0,0);
	-webkit-animation: rotate 2s infinite linear;
}

body > div[hash='details'] .header {
	border: 1px solid #eee;
	text-align: center;
}

body > div[hash='details'] .header > * {
	display: inline-block;
	vertical-align: middle;
}

body > div[hash='details'] #buy {
	background: #CFA3A3 url('image/buy.png') center center no-repeat;
	width: 54px;
	height: 54px;
	margin: 4px;
	border-radius: .3em;
}

body > div[hash='details'] #buy:hover {
	background-color: #BD5959;	
}

body > div[hash='details'] #price {
	font-size: 40px;
	padding: 15px;
	vertical-align: middle;
	font-weight: bold;
}

</style>

<div class='header'>
	<img id='rate' src='image/rate1.png' />
	<h1 id='price'></h1>
	<a target='_blank' href="#" id='buy'></a>
</div>

<h1 id="title"></h1>
<p id="description"></p>
<p id="images"></p>

<div id='#details_images'>
</div>

<script>

window.chacha.fragment("details", function(fragment) {
	var data = chacha.data('product');
	
	if(typeof(data) != 'undfined') {
		$('#rate', fragment).attr('src', 'image/rate' + data.rate + '.png');
		$('#price', fragment).text(data.price + '¥');
		$('#buy', fragment).attr('href', data.link);

		$('#title', fragment).text(data.title);		
		$('#description', fragment).text(data.description);
	} else {
		console.warn('Something is wrong');
	}

	$("body > div[hash='stage'] .search").click(function() {
		window.chacha.show('search', true);
	});

	var images = $('#images', fragment).empty();
	$.each(data.images, function() {
		var imageContainer = $("<div><div class='reload'></div></div>");
		var image = $('<img />').attr('src', String(this));

		image.on('load', function() {
			imageContainer.replaceWith(image);
		});

		imageContainer.appendTo(images);
		imageContainer.append(image);
	});
});
	
</script>
