<style>

body > div[hash='extra'] .header {
	position: relative;
	height: 150px;
	background: black;
	color: white;
	left: 0;
	top: -150px;
	white-space: nowrap;
}

body > div[hash='extra'].append .header {
	top: -150px;
}

body > div[hash='extra'].active .header {
	background: black;
	top: 0;
}




body > div[hash='extra'] .footer {
	position: fixed;
	height: 98px;
	background: black;
	color: white;
	left: 0;
	width: 100%;
	bottom: -640px;
	text-align: center;
}

body > div[hash='extra'].append .footer {
	bottom: -98px;
}

body > div[hash='extra'].active .footer {
	height: 98px;
	background: black;
	bottom: 0;
}

body > div[hash='extra'] .footer .share {
	position: relative;
	width: 98px;
	height: 98px;
	margin: auto;
}

body > div[hash='extra'] .footer .share-loading {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: transparent url('image/loading.png') no-repeat center center;
	-webkit-animation: rotate 2s infinite linear;
}

body > div[hash='extra'] .footer .share-icon {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: transparent url('image/share.png') no-repeat center center;
}

body > div[hash='extra'] .footer .share:hover {
	background-color: #222;
	border-radius: 5px;
}

body > div[hash='extra'] .thumb {
	position: relative;
	display: inline-block;
	height: 100%;
}

body > div[hash='extra'] .thumb > img {
	height: 138px;
	width: auto;
	padding: 2px;
	border: 4px solid transparent;
}

body > div[hash='extra'] .thumb > img:hover {
	border-color: white;
	border-raduis: 2px;
}

body > div[hash='extra'] .close {
	position: absolute;
	height: 16px;
	width: 16px;
	right: 4px;
	bottom: 10px;
	background: transparent url('image/remove.png') no-repeat center center;
	padding: 4px;  
}

body > div[hash='extra'] .close:hover {
	background-color: rgb(200, 100, 100);
	border-radius: 6px;
}



</style>




<div class='header slide'>
	<!--<div class='thumb'>
		<img src='image/image.jpg' />
		<div class='close'></div>
	</div>-->
</div>

<div class='footer slide'>
	<div class='share'>
		<div class='share-icon'></div>
		<div class='share-loading'></div
	</div>
</div>




<script>

window.chacha.fragment("extra", function(fragment, first) {
	var container = $('.header', fragment);

	function removeProduct(p) {
		$("[product='" + p.id + "']", container).remove();
		var thumb = $("<div class='thumb'></div>").attr('product', id);

		// remove from storage if it exits
		var selected_products = window.chacha.data('selected_products');

		if($('div', container).length == 0) {
			window.history.go(-1);
		}

		container.append(thumb);
	}

	function addProduct(p) {
		var thumb = $("<div class='thumb'></div>").attr('product', id);

		$('<img>').attr('src', p.image).appendTo(thumb).click(function() {
			window.chacha.data('product', p);

			window.chacha.show('details');
		});
		$("<div class='close'></div>").appendTo(thumb).click(function() {
			removeProduct(p);
		});

		container.append(thumb);
	}

	var selected_product = window.chacha.data('selected_product');
	if(typeof(selected_product) != 'undefined') {
		var id = selected_product.id;
		
		if($("[product='" + id + "']", container).length == 0) { // we do not want duplicate items
			addProduct(selected_product);

			// save all the IDs
			var ids = [];
			$("[product]", container).each(function() {
				ids.push($(this).attr('product'));
			});
		}
	}

	if(first) {

		$('.share-icon', fragment).click(function() {
			var ids = [];
			$(container).children().each(function(){ids.push($(this).attr('product'))});
			
			var share_loading = $('.share-loading', fragment);
			// check for active task
			if(share_loading.is(':visible')) {
				return false;
			}

			share_loading.show();

			// TODO: Show loading
			$.jsonp({
				url: SERVER_PACK_PATH,
				callback: "jsonCallback",
				data: { 'ids': ids, 'mode': 'share' },
				complete: function(data) {
					share_loading.hide();
				},
				success: function(data) {
					window.phoneApi.share(data);
				},
				error: function(data) {
				}
			});
			
			return false;
		});
	}
});

</script>
