<style>
body > div[hash='login'] > div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

body > div[hash='login'] ul {
	margin: 0;
	padding: 0;
}

body > div[hash='login'] li {
	list-style-type: none;
	display: inline-block;

}

body > div[hash='login'] .qq,
body > div[hash='login'] .phone {
	display: inline-block;
	width: 64px;
	height: 64px;
	border-radius: 1em;
}

body > div[hash='login'] a.qq:hover,
body > div[hash='login'] a.phone:hover {
	background-color: #999;
}

body > div[hash='login'] .qq {
	background: #DDD url('image/qq.png') center center no-repeat;
}

body > div[hash='login'] .phone {
	background: #DDD url('image/phone.png') center center no-repeat;
}
body > div[hash='login'] form > * {
	display: block;
	margin: auto;
}
</style>

<div>
	<ul>
		<li><a class='qq' href='#'></a></li>
		<li><a class='phone' href='#'></a></li>
	</ul>
	
	<div>
		<form>
			<input type='text' name='username' />
			<input type='password' name='password' />
			<input type='submit' value='Login' />
			<input type='submit' value='Register' />
		</form>
	</div>

	<div>
		<form>
			<input type='text' name='phone' />
			<input type='submit' value='Login' />
		</form>
	</div>
</div>


<script>

window.chacha.fragment("login", function(fragment) {
	$('.qq', fragment).click(function() {
		window.chacha.show('login.qq');
		return false;
	});
	$('.phone', fragment).click(function() {
		window.chacha.show('login.phone');
		return false;
	});
});
	
</script>
