<style>
body > div[hash='search'] .shadow {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .2;
}

body > div[hash='search'] form {
	text-align: center;
}

body > div[hash='search'] input {
	border: 3px solid white;
	border-radius: 6px;
	padding: .3em;
	margin: 5px auto;
	box-shadow: 0 0 .8em black;
}

body > div[hash='search'] .most {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #888;
	text-align: center;
	margin: .3em;
	padding: .3em;
	border-radius: .4em;
}

body > div[hash='search'] .suggestion > div,
body > div[hash='search'] .most > div {
	display: inline-block;
	padding: .3em;
	margin: .3em;
	background-color: white;
	font-size: large;
	font-weight: bold;
	border-radius: .4em;
}
</style>

<form>
	<input type='text' />
</form>

<div class='suggestion'></div>

<div class='most'></div>

<script>

window.chacha.fragment("search", function(fragment, first) {
	if(first) {
		$('input', fragment).keyup($.debounce(function() {
			var value = $(this).val();
			var $suggestion = $('.suggestion', fragment);

			if(value.length > 1) {
				$.jsonp({
					url: SERVER_SEARCH_MATCH_PATH,
					callback: "jsonCallback",
					data: $(this).serialize(),
					"success": function(data) {
						$suggestion.empty();
						$.each(data, function(i, v) {
							$('<div></div>').text(v).appendTo($suggestion);
						});
					},
					"error": function() {
						$suggestion.empty();
					}
				});
			} else {
				$suggestion.empty();
			}
		}, 300));

		$('form', fragment).submit(function() {
			var text = $('input').val();
			window.chacha.data('search', text);
			window.history.go(-1);
			
			return false;
		});

		// update most search keywords if it's empty
		var $most = $('.most', fragment);
		$.jsonp({
			url: SERVER_SEARCH_MOST_PATH,
			callback: "jsonCallback",
			data: $(this).serialize(),
			"success": function(data) {
				$.each(data, function(i, v) {
					$('<div></div>').text(v).appendTo($most);
				});
			},
			"error": function() {
			}
		});
	}
});
	
</script>
