<div class='login'>
	<div >
		<img src='image/qq.png' />
		<img src='image/email.png' />
		<form>
			<input  type='text' name='username' placeholder='QQ ID/Email/Phone' /><br/>
			<input type='password' name='password' placeholder='Password' /><br/>
			<input type='submit' value='  Login  ' /><br/>
			<input type='button' value='Register' />
		</form>
	</div>
</div>

<div id="accordion-html5" class="accordion">
	<details class='profile'>
		<summary><h2>Profile</h2></summary>
	  	<div>
			<div>
				<div><img id='avatar' src='image/avatar.png' /></div>
				<div>
					<p class='tel'>+9818881239</p>
					<p class='email'>ha.hamed@gmail.com</p>
				</div>
			</div>
			<form>
				<input type='submit' value='Logout' />
			</form>
		</div>
	</details>
	<details class='friends'>
		<summary><h2>Friends</h2></summary>
	</details>
</div>

<!---->

<div class='wait'>
	<div>
		<img class='animated infinite rotate' src='image/setting.png' />
		<p>Please wait...</p>
	</div>
</div>

<script>
	window.chacha.fragment('setting', function(fragment, first) {
		

		function showAccordion(data) {
			var accordion = $('.accordion', fragment).show();
			$('#avatar', accordion).attr('src', data.avatar);
			$('.tel', accordion).text(data.tel);
			$('.email', accordion).text(data.email);
			
			$('form', accordion).submit(function() {
				// remove login info
				window.chacha.data('user', '');
			
				accordion.hide();
				$('.login', fragment).show();
				return false;
			});

			var friends = $("<div class='friends'></div>").appendTo($('.friends', fragment));
			$.each(data.friends, function(i, v) {
				var friend = $("<div></div>");

				$('<img />').attr('src', v.avatar).appendTo(friend);
				$('<p></p>').text(v.name).appendTo(friend);

				friend.appendTo(friends);
			});
		}

		// hide all at the first
		if(first) {
			$(fragment).children().hide();
		}
	
		var user = window.chacha.data('user');
		if(typeof(user) == 'undefined' || typeof(user) == 'string') { // need login
			var login = $('.login', fragment).show();

			if(first) {
				$('form', login).submit(function() {
					login.hide();
					var wait = $('.wait', fragment).show();
					$.jsonp({
						url: '/api/login',
						callback: "jsonCallback",
						data: $(this).serialize(),
						"success": function(data) {
							window.chacha.data('user', data);
							
							wait.hide();
							showAccordion(data);
						},
						"error": function() {
							wait.hide();
							login.show();
						}
					});
					return false;
				});
			}
		} else {
			$('.accordion', fragment).show();

			if(first) {
				showAccordion(user);
			}
		}
	});
</script>
